.header nav a {
    margin: 10px;
    text-decoration: none;
}

.header {
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.header nav a:hover {
    color: goldenrod;
}